<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		Review dan Checkout
	</h1>
</section>
<style>
.content-wrapper {
	background-color: #FFF;
}

</style>
 <!-- Main content -->
<section class="content">
	<div class="">
		<ul class="steps no-margin">
			<li class="step">
				<span class="step-number">1</span><span class="step-title">Mining</span>
			</li>
			<li class="step active">
				<span class="step-number">2</span><span class="step-title">Review dan Checkout</span>
			</li>
			<li class="step">
				<span class="step-number">3</span><span class="step-title">Pembayaran</span>
			</li>
		</ul>	
	</div>
	<br>
	<div class="row">
		<section class="col-lg-8">
			<div class="box box-solid shadow">
				<div class="box-header bg-yellow">
					<h3>Review Detail</h3>
				</div>
				<div class="box-body">
					<div class="alert alert-info alert-info-custom alert-dismissible">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
						 <h4>Informasi</h4>
						 <p>Untuk saat ini pembayaran dengan Metode Bank hanya tersedia untuk <b>Crytocurrency Ethereum</b> saja, untuk Cryptocurrency lain harap menggunakan metode pembayaran Bitcoin ya Miners.</p>
						 <p>Untuk prosess pembayaran akan di jelaskan di Step Selanjutnya.</p>
					</div>
					<div class="">
						<div class="row">
							<div class="form-group col-lg-6">
								<label for="method">Metode Pembayaran</label>
								<div>
									<select class="form-control" ng-model="order.method" id="method">
										<option value="bank">Bank</option>
										<option value="bitcoin">Bitcoin</option>
									</select>
								</div>
							</div>
							<div class="form-group col-lg-6">
								<label for="">Atas Nama</label>
								<div>
									<input type="text" class="form-control" ng-disabled="isNotBank()" ng-model="order.atasnama">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-lg-6">
								<label for="">Nomor Rekening</label>
								<div>
									<input type="number" class="form-control" ng-disabled="isNotBank()" ng-model="order.rekening">
								</div>
							</div>
							<div class="form-group col-lg-6">
								<label for="">Nama Bank</label>
								<div>
									<input type="text" class="form-control" ng-disabled="isNotBank()" ng-model="order.bank">
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</section>
		<section class="col-lg-4">
			<div class="box box-solid shadow">
				<div class="box-header">
					<h4>Order Summary</h4>
				</div>
				<div class="box-body">
					<div class="form-group" style="border-top: 1px solid #eee;border-bottom: 1px solid #eee;">
						<h4>Cloud Mining</h4>
						<span>{{ order.server }}@{{ order.coin | uppercase }} - {{ order.title }}</span>
						<h3>$ {{ total }}</h3>
					</div>
				</div>
				<div class="box-footer">
					<div class="form-group">
						<label title="Akun akan di simpan selama 3 Hari"><input type="checkbox" title="Setuju dengan syarat dan ketentuan NyanHash" checked=""> Saya setuju dengan Ketentuan yang berlaku</label>
					</div>
					<button ng-click="href()" class="btn-nyanhash bg-yellow-gradient">Lanjut &amp; Order</button>
				</div>
			</div>
		</section>
	</div>
</section>