<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		Account Settings
	</h1>
</section>

 <!-- Main content -->
<section class="content clearfix">
	<div class="alert alert-info alert-info-custom alert-dismissible">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		 <h4>Informasi</h4>
		 <p>Karena Withdrawal di lakukkan secara Otomatis maka pastikan Alamat Wallet kalian sudah benar, ya miners</p>
	</div>
	<div class="row">
	<section class="col-md-6 clearfix">
		<div class="box box-solid shadow">
			<div class="box-header">
				<h3><i class="fa fa-id-card-o fa-2x"></i> Profil</h3>
			</div>
			<div class="box-body">
				<div class="form-horizontal">
					<div class="form-group">
						<label for="" class="col-md-4 control-label">Nama Lengkap</label>
						<div class="col-md-8">
							<input type="text" ng-model="users.name" name="nama-lengkap" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-md-4 control-label">Email</label>
						<div class="col-md-8">
							<input type="email" ng-model="users.email" name="email" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-md-4 control-label">Alamat Ethereum</label>
						<div class="col-md-8">
							<input type="text" ng-model="users.address.eth" name="ethereum-address" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-md-4 control-label">Alamat Litecoin</label>
						<div class="col-md-8">
							<input type="text" ng-model="users.address.ltc" name="litecoin-address" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-md-4 control-label">Alamat Dash</label>
						<div class="col-md-8">
							<input type="text" ng-model="users.address.dsh" name="dash-address" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label for="security-id" class="col-md-4 control-label">Security</label>
						<div class="col-md-8">
							<select id="security-id" ng-model="users.security" class="form-control">
								<option value="2fa">2FA (Rekomendasi)</option>
								<option value="none">No Security</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-4"></div>
						<div class="col-md-8">
							<button ng-click="saveUsers()" class="btn btn-success">Simpan Perubahan</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="col-md-6 clearfix">
		<div class="box box-solid shadow">
			<div class="box-header">
				<h3>Login</h3>
			</div>
			<div class="box-body">
				<div class="form-horizontal">
					<div class="form-group">
						<label for="" class="col-md-4 control-label">Password Sekarang</label>
						<div class="col-md-8">
							<input type="password" ng-model="password.old" name="old-password" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-md-4 control-label">Password Baru</label>
						<div class="col-md-8">
							<input type="password" ng-model="password.new" name="new-password" class="form-control">
						</div>
					</div>
					<div class="form-group" ng-class="{'has-error': error}">
						<label for="" class="col-md-4 control-label">Konfirmasi Password Baru</label>
						<div class="col-md-8">
							<input type="password" ng-model="password.newConfirm" name="new-confirm-password" class="form-control ">
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-4"></div>
						<div class="col-md-8">
							<button ng-click="savePassword()" class="btn btn-success">Simpan Perubahan</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	</div>
</section>

<div id="confirm2fa" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="konfirmasi" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title text-blue" id="konfirmasi">Konfirmasi Kode 2FA</h4>
			</div>
			<div class="modal-body">
				<p>Dikarenakan anda menggunakan Security 2FA, maka anda harus memasukkan Kode 2FA yang sudah kami kirim ke Email anda. Ini di lakukkan untuk mencegah hal yang tidak di inginkan.</p>
				<div class="form-group">
					<label for="" class="text-right">Kode 2FA</label>
					<input type="number" ng-model="code" class="form-control">
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-default" ng-click="confirm()">Konfirmasi</button>
			</div>
		</div>
	</div>
</div>